.meal {
  display: flex;
  padding: 12rem;
  border-bottom: 2rem solid #f5f5f5;
  align-items: center;
}

.imgBox {
  width: 280rem;
  height: 200rem;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 32rem;
  font-weight: normal;
  margin: 0;
}

.descBox {
  flex: auto;
}

.desc {
  color: #aaa;
  font-size: 28rem;
  margin-top: 10rem;
}

.priceWrap {
  display: flex;
  justify-content: space-between;
  padding: 0 20rem 0 0;
  margin-top: 20rem;
}

.price {
  font-size: 32rem;
  font-weight: bold;
}

.price::before {
  content: 'ï¿¥';
  font-size: 12rem;
}